*{
    margin:0;
}
.content
{
 padding-top: 3%;
 padding-left: 21%;
}
.content-box {
    background-color: #f4f4f4; /* Set your desired background color */
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd; /* Add a border if needed */
    border-radius: 5px;
  }
  
  .content-box h3 {
    font-size: 1.5rem; /* Adjust the heading size as needed */
    color: #333; /* Set the heading color */
  }
  
  .content-box p {
    font-size: 1rem; /* Adjust the text size as needed */
    color: #555; /* Set the text color */
  }
  .signup-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  